.root {
    width: 50px;
    height: 50px;
    background:#8E999E;
    border-radius: 50px;
    color: white;
    font-size: 50px; /* changes size of icon */
    display: grid;
    place-content: center;
}

.root:hover {
    cursor: pointer;
}

/* 
THIS IS WHERE TO FIND THE ICONS
https://material.io/resources/icons/?style=outline
*/