.bold {
	font-weight: 700;
}
.italic {
	font-style: italic;
}
.underLine {
	text-decoration: underline;
}
.h1 {
	font-size: 4rem;
}
.h2 {
	font-size: 3.5rem;
}
.h3 {
	font-size: 3rem;
}
.h4 {
	font-size: 2.5rem;
}
.h5 {
	font-size: 2rem;
}
.h6 {
	font-size: 1.5rem;
}
.ul>li:before {
	float: left;
	vertical-align: middle;
	font-size: .8em;
	content: "\2022\00a0\00a0";
}
.core {
	display: grid;
	grid-template-rows: repeat(4, auto);
	grid-template-columns: 1fr 2.5fr 1fr;
	grid-row-gap: 30px;
	grid-column-gap: 0px;
	margin: 50px auto;
	max-width: 1440px;
	color: #686868;
}
.title {
	grid-area: 1 / 2 / 2 / 3;
	line-height: 1.2;
	color: #30373B;
	font-size: 2.6rem;
	font-weight: 100;
}
.authorModule {
	grid-area: 2 / 2 / 3 / 3;
	line-height: 1.2;
	color: #30373B;
	font-size: .9em;
}
.authorModule>span {
	display: block;
}
.authorModule>span:nth-child(2) {
	font-weight: 700;
}
.authorModule>img {
	float: left;
	margin-right:15px;
	vertical-align: middle;
	border-radius: 50%;
	width: 60px;
	height: 60px;
}
.featuredImage {
	grid-area: 3 / 1 / 4 / 4;
}
.featuredImage>img {
	width: 100%;
}
.featuredImage>summary {
	margin-top: 20px;
	text-align: center;
}
.articleBody {
	grid-area: 4 / 2 / 5 / 3;
	line-height: 2;
	font-size: 1.23em;
	font-weight: 100;
}
.articleBody>img {
	margin: 60px 0;
	width: 100%;
}
