.wrapper {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropzone {
    border: #eee 2px dashed;
    /* background: #FAFAFA; */
    color: #BDBDBD;
    height: 150px;
    width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dropzone p {
    width: 100%;
    line-height: 1.2em;
    text-align: center;
}

.header {
    width: 100%;
    padding: 40px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.preview {
    width: 80%;
    margin: auto;
}

.selectButton {
    padding: 10px 20px;
    color: #143968;
    border: 2px solid #143968;
    /* align-self: center; */
    display: inline;
    text-transform: uppercase;
}

.selectButton:hover {
    cursor: pointer;
}

.imagePlaceholder {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: 2px solid #143968;
    background: #eee;
}

.dolater {
    color: #143968;
    font-weight: bold;
    margin: 10px;
    font-size: .8em;
}
.dolater:hover {
    cursor: pointer;
}