.wrapper {
    width: 100%;
    position: relative;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper > label {
    position: absolute;
    font-size: 16px;
    top: 14px;
    left: 20px;
    color: #225B91;
    pointer-events: none;
    font-weight: bold;
}

.wrapper i {
    /* position: relative;
    right: 30px;
    top: 20px;
    display: inline;
    height: 0px;
    width: 0px; */
    color: gray;
}

.iconWrapper {
    border: 1px solid lightgrey;
    border-left: 0px none;
    height: 33px;
    width: 35px;
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 100%;
    display: block;
    height: 35px;
    border: 1px solid lightgrey;
    border-right: 0px none;
    /* border-radius: 2px; */

    font-size: 16px;
    /* text-align: right; */
    color: #333;
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    margin: 15px 0 0 0;
    font-weight: 100;
}

.input:focus {
    border: 1px solid #225B91;
    border-right: 0;
}

.input:focus + .iconWrapper {
    border: 1px solid #225B91;
    border-left: 0;
}

.input::placeholder {
    font-size: 16px;
    color: #959595;
    font-weight: bold;
}

.input > option{
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
    background: white;
    border: none !important;
    width: inherit;
}