.wrapper {
    padding: 20px;
    box-sizing: border-box;
}

.root {
    width: 280px;
    height: 360px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: .5px solid #143968;
    border-radius: 2px;
    background: #FFF;
    /* justify-content: space-evenly; */
    /* grid-template-columns: 1fr 2fr; */
    box-sizing: border-box;
    /* background: #E5ECF1; */
    /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */

}
.root:hover {
    cursor: pointer;
}

.image {
    width: 75px;
    height: 75px;
    margin: 20px 0;
}

.image img {
    border-radius: 1000px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    box-sizing: border-box;
}

.bio {
    position: relative;
    margin: 10px;
    height: 60px
}

.bio p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    line-height: 1.4em;
    font-size: .9em;
    font-weight: 100;
    color: rgba(0, 0, 0, 0.54);
}

.tags {
    padding: 15px;
    color: #222;
    overflow: hidden;
}

.name {
    /* font-weight: bold; */
    font-size: 1.4em;
}

.specialty {
    color: #143968;
    margin: 5px;
    height: 10px;
}

.distance {
    position: relative;
    bottom: 30px;
    text-align: center;
    width: 100%;
}

.distance>p {
    background: white;
    display: inline;
    padding: 5px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.25);
}

.address {
    margin: 5px 0;
    font-size: .9em;
}