/* Cursor style is in the globall css under .flickity-slider */

.root {
    width: 100%;
    cursor: default;
    display: relative;
    top: -100px;
    /* height: 300px; */
}

.root > div {
    width: 100%;
    /* left: 60px; */
}

/* .root .flickity-button {
	background: transparent !important;
  } */

.scroll>div{
    /* white-space: nowrap; */
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll>div::-webkit-scrollbar {
    display: none;
}

.cell {
    height: 200px;
    width: 350px;
    background: blue;
    margin: 10px;
    box-sizing: border-box;
}

.header {
    text-transform: uppercase;
    display: inline-block;
    padding: 50px 80px;
    padding-bottom: 100px;
    background: rgba(246, 246, 246, 0.7);
    position: relative;
    /* top: 100px; */
    font-size: 1.5em;
    color: rgb(67, 69, 78);
}

.header span {
    color: #092048;
    font-weight: bold;
}

.headerBanner {
    content: '';
    width: 500px;
    height: 15px;
    background: #B8CEDF;
    border-radius: 0 2px 0 0;
}

@media only screen and (max-width: 600px) {
    .headerBanner {
        width: 70vw;
    }
    .header {
        font-size: 1.2em;
        padding: 30px 30px;

    }

    .root {
        top: -30px;
    }
}