.wrapper {
    width: 100%;
    height: auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.wrapper form {
    padding: 30px;
    padding-top: 10px;
}

.header {
    width: 100%;
    padding: 30px;
    padding-bottom: 0px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box; 
}

.header h1 {
    margin-bottom: 10px;
}

.header p {
    color: #888;
    line-height: 1.2rem;
    font-size: 1em;
}

.buttons {
    display: flex;
    flex-grow: 0;
    flex-direction: column;
    align-items: center;
}

.buttons > * {
    margin-top: 25px;
}

.guestButton {
    background: none;
    border: none;
    color: #959595;
}

.guestButton:focus {
    color: black;
}

.errors {
    color: #D34240;
    padding-left: 20px;
}

.errors li {
    padding: 5px;

}

.wrapper input[type=radio] {
    background: red;
}

.signupButton {
    width: 100%;
    justify-content: center;
    border-radius: 2px;
}