.root {
    width: 100%;
    height: 300px;
    background: #092048;
    position: fixed;
    top: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    max-width: 100vw;
    z-index: 5000;
}

.search {
    width: 100%;
    display: flex;
    justify-content: center;
}

.signOut {
    color: #D34240;
}

.active {
    display: flex;
}

.disabled {
    display: none;
}