.wrapper {
	display: grid;
	grid-template-columns: 1fr minmax(0, 2fr);
	grid-template-rows: minmax(0, 1fr);
	max-width: 1440px;
	width: 100%;
	margin: 20px auto;
	padding: 30px;
	box-sizing: border-box;
	color: #333;
	/* max-height: 600px; */
}

.wrapper a {
	color: #143968;
	text-decoration: underline;
}

.left h3 {
	max-width: 50%;
	line-height: 1.2em;
}

.left {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.left i {
	font-size: 28px;
	margin-right: 10px;
}

.follow {
	margin: 20px 0;
}

.info {
	display: flex;
	align-items: center;
	min-height: 20px;
	margin: 15px 0;
	width: 50%;
}

.right {
	display: flex;
	flex-direction: column;
	align-items: baseline;
	justify-content: space-between;
}
.right>div>* {
	margin: 30px 0;
}

.titleContainer {
	display: flex;
	align-items: center;
	height: 100px;
}
.titleContainer>img {
	height: 100%;
	margin-left: 20px;
}
.titleContainer>span>* {
	/* margin: 20px 0; */
}
.titleContainer>span {
	display: grid;
	grid-template-rows: 1fr 1fr;
	align-content: space-between;
	height: 100%;
}

.image {
	border-radius: 1000px;
	width: 180px;
	height: 180px;
	/* flex: 1; */
}

.unfollow {
	background: #959595;
}

.bio {
	width: 70%;
	line-height: 1.2em;
	font-size: 1.1em;
	font-weight: 100;
	margin-bottom: 30px;
}

.map {
	/* flex-basis: 200px; */
	width: 70%;
	align-self: end;
	height: 200px;
	border-radius: 2px;
	/* flex: 1 0 200px; */
	/* max-height: 300px; */
	/* flex: 1 0 0; */
	/* min-height: 0; */
	/* height: 50%; */
	/* display: flex; */
}
.map img {
	border-radius: 2px;
	object-fit: cover;
	width: 100%;
	height: 100%;
	overflow: hidden !important;
	/* flex-grow: 1; */

}

.infoContainer {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header {
    text-transform: uppercase;
    display: inline-block;
    padding: 50px 80px;
    padding-bottom: 100px;
    background: rgba(246, 246, 246, 0.7);
    position: relative;
    top: 100px;
    font-size: 1.5em;
    color: rgb(67, 69, 78);
}

.header span {
    color: #092048;
    font-weight: bold;
}

.specialtyWrapper {
	display: grid;
	grid-template-columns: repeat(auto-fit, 250px);
    box-sizing: border-box;
}
/* .companyNameMobile {
	display: none;
}
.nameMobile {
	display: none;
} */
@media only screen and (min-width: 600px) {
	.hideOnDesktop {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}
}
/* .hideOnMobile {
	display: initial;
} */

@media only screen and (max-width: 600px) {
    .wrapper {
		grid-template-columns: 1fr;
	}

	 .left {
		width: 100%;
	 }
	 .left h3 {
		max-width: 100%;
		text-align: center;
		margin-bottom: 30px;
	 }
	.infoContainer {
		margin-bottom: 30px;
	}
	.hideOnMobile {
		position: absolute !important;
		top: -9999px !important;
		left: -9999px !important;
	}
	.header {
        font-size: 1.2em;
        padding: 30px 30px;

    }
	/* .hideOnDesktop {
		display: initial;
	} */
	/* .infoContainerMobile.info {
		display: flex !important;
	}
	.companyNameMobile {
		display: block;
	}
	.name {
		display: none;
	}
	.companyName {
		display: none;
	}
	.nameMobile {
		display: block;
	}
	.infoContainer .info {
		width: 100%;
		display: none;
	} */

	.bio {
		width: 90%;
	}

	.map {
		width: 90%;
	}
}