.root {
    width: 200px;
    height: 300px;
    padding: 20px;
    position: relative;
    text-decoration: none;

}

.root:hover {
    cursor: pointer;
}

.root h3 {
    color: #333 !important;
    margin: 10px 0;
}

.thumbnailImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 2px;
}

.thumbnail {
    height:200px;
    width: 100%;
}

