 .root {
	box-sizing: border-box;
	display: grid;
	grid-template-columns: 1fr 1.5fr 1fr;
	background: #B8CEDF;
	font-weight: 900;
	padding: 40px;
	width: 100%;
	min-height: 250px;
	align-items: center;
}

.root a {
	text-decoration: none;
	color: inherit;
}
.image {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}

.image>p {
	margin: 10px;
}

.image>a>img {
	width: 100px;
}

.links {
	text-align: center;
}
.link {
	text-transform: uppercase;
}

.links>p {
	color: #0C3668;
	font-size: .8em;
	font-weight: 100;
	margin-top: 10px;
}

.connect {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	height: 100%;
	/* place-items: center; */
	/* flex-wrap: wrap; */
	/* flex-basis: 33%; */
}

.connect img {
	margin: 3px;
}

.emailInput {
	box-sizing: border-box;
	margin: 8px 0 8px 0;
	border: 1px solid #A8ACAD;
	padding: 15px;
	width: 70%;
	color: #A8ACAD;
	font-size: 1em;
	align-self: flex-end;
}

.connect>p {
	/* align-self: flex-end; */
	margin-bottom: 10px;
}
@media only screen and (max-width: 600px) {
	.root {
		grid-template-columns: 1fr;
		row-gap: 20px;
	}
	.ActionButton {
		margin: 10px;
	}
	.links {
		display: flex;
		flex-direction: column;
	}
}
/*
.image {
	grid-area: 1 / 1 / 2 / 3;
}
.image>img {
	width: 150px;
}
.link {
	text-transform: uppercase;
	color: #2C3438;
	font-size: .9em;
}
.about {
	grid-area: 2 / 1 / 3 / 2;
}
.terms {
	grid-area: 2 / 2 / 3 / 3;
}
.contact {
	grid-area: 3 / 1 / 4 / 2;
}
.privacy {
	grid-area: 3 / 2 / 4 / 3;
}
.email {
	grid-area: 1 / 3 / 4 / 5;
	align-self: center;
	
}
.info {
	grid-area: 4 / 1 / 5 / 5;
	align-self: center;
	justify-self: center;
}
.email>p, .info {
	color: #0C3668;
	font-size: .8em;
	font-weight: 100;
}
.emailInput {
	box-sizing: border-box;
	margin: 8px 0 8px 0;
	border: 1px solid #A8ACAD;
	padding: 15px;
	width: 100%;
	color: #A8ACAD;
	font-size: 1em;
}
.ActionButton {
	float: right;
}
.emailInput::placeholder {
	color: #A8ACAD;
	font-size: 1rem;
}
@media only screen and (max-width: 600px) {
	.root {
		grid-template-areas: "a" "b" "c" "d" "e" "f" "g";
		grid-template-rows: repeat(2, 2fr) repeat(4, 1fr) 2fr;
		grid-template-columns: 1fr;
		grid-row-gap: 50px;
		padding: 30px;
		height: 800px;
	}
	.image {
		grid-area: 1 / 1 / 2 / 2;
		grid-area: a;
		justify-self: center;
	}
	.email {
		grid-area: 6 / 1 / 7 / 2;
		grid-area: b;
		justify-self: center;
	}
	.about {
		grid-area: 2 / 1 / 3 / 2;
		grid-area: c;
		justify-self: center;
	}
	.terms {
		grid-area: 3 / 1 / 4 / 2;
		grid-area: d;
		justify-self: center;
	}
	.contact {
		grid-area: 4 / 1 / 5 / 2;
		grid-area: e;
		justify-self: center;
	}
	.privacy {
		grid-area: 5 / 1 / 6 / 2;
		grid-area: f;
		justify-self: center;
	}
	.info {
		grid-area: 7 / 1 / 8 / 2;
		grid-area: g;
		justify-self: center;
	}
} */
