@font-face {
	font-family: CircularStd;
	font-weight: 100;
	font-style: normal;
	src: url(/fonts/CircularStd-Book.otf) ;
} 
@font-face {
	font-family: CircularStd;
	font-weight: 400;
	font-style: normal;
	src: url(/fonts/CircularStd-Medium.otf) ;
}
@font-face {
	font-family: CircularStd;
	font-weight: 700;
	font-style: normal;
	src: url(/fonts/CircularStd-Bold.otf) ;
}
@font-face {
	font-family: CircularStd;
	font-weight: 900;
	font-style: normal;
	src: url(/fonts/CircularStd-Black.otf) ;
}
@font-face {
	font-family: CircularStd;
	font-weight: 100;
	font-style: italic;
	src: url(/fonts/CircularStd-BookItalic.otf) ;
}
@font-face {
	font-family: CircularStd;
	font-weight: 400;
	font-style: italic;
	src: url(/fonts/CircularStd-MediumItalic.otf) ;
}
@font-face {
	font-family: CircularStd;
	font-weight: 700;
	font-style: italic;
	src: url(/fonts/CircularStd-BoldItalic.otf) ;
}
@font-face {
	font-family: CircularStd;
	font-weight: 900;
	font-style: italic;
	src: url(/fonts/CircularStd-BlackItalic.otf) ;
}
html {
	font-size: 100%;
	font-family: CircularStd;
	font-weight: lighter;
}
h1 {
	font-size: 2.074em;
}
h2 {
	font-size: 1.728em;
}
h3 {
	font-size: 1.44em;
}
h4 {
	font-size: 1.2em;
}
small {
	font-size: 0.833em;
}
.box {
	padding: 1.25em;
}
a {
	outline: 0 !important;
	text-decoration: none;
}

a:visited {
	color: inherit;
}
@media screen and (max-width: 720px) {
	.flickity-button {
		display: none;
	}
}

@media only screen and (max-width: 1150px) {
	.flickity-button.flickity-prev-next-button.previous.previous {
		left: 84%;
	}
}
@media only screen and (max-width: 769px) {
	.flickity-button.flickity-prev-next-button.previous.previous {
		left: 83%;
	}
}
@media only screen and (min-width: 1441px) {
	.flickity-button.flickity-prev-next-button.previous.previous {
		left: 87%;
	}
}
.flickity-slider {
	cursor: default;
}
.flickity-button:disabled {
	background: white !important;
}

.flickity-prev-next-button {
	border-radius: 0% !important;
	border: .5px solid #143968 !important;
	border-radius: 2px !important;
	/* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
	background: #143968 !important;
	color: #FFF !important;
	position: relative;
}
.flickity-prev-next-button:disabled {
	background: #143968 !important;
}

.next {
	top: -5% !important;
	left: 90%;
}
.flickity-button.flickity-prev-next-button.previous {
	top: -5% !important;
	left: 86%;
	background: #143968 !important;
}

.previous:disabled {
	left: 86%;
	opacity: 100% !important;
}

/* react-modal */
/* .ReactModal__Content {
	transform: scale(0);
	opacity: 0;
    transition: all 70ms ease-in-out;
}

.ReactModal__Content--after-open{
	transform: scale(1);
	opacity: 1;

}

.ReactModal__Content--before-close{
	transform: scale(0);
	opacity: 0;
} */
