.root {
	border: 1pt solid #143968;
	border-radius: 3px;
	background-color: #E5ECF1;
	padding: 10px 12px;
	color: #143968;
    font: .7em CircularStd-Bold;
    user-select: none;
    margin-right: 5px;
}
.root:hover {
    background-color: #143968;
    color:white;
}
.root:active {
    background-color: #092048;
    border:1pt solid #092048;
    color:#fff;
}
